<!DOCTYPE HTML>
<html>
	<head>
		<title>v-if If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.special {background:yellow; border: 1px dotted #fe0000; padding:30px; display:block; text-align:center;}
			.important {font-weight:bold; font-size:30px;}
			.avatar {
				width: 300px;
				height: 300px;
			}
		</style>
	</head>
	<body>
	
	<div id="app">
		<div v-if="profile">
			<img class="avatar" v-bind:src="profile.image" alt="my profile photo" />
	        <div>
	        	<h3 v-if="profile.fname">
					{{profile.fname}}
				</h3>
				<h3 v-else>
					No firstname provided
				</h3> 
				<h3 v-if="profile.lname">
					{{profile.lname}}
				</h3>
				<h3 v-else>
					No lastname provided
				</h3> 
	        </div>
	        <p v-if="profile.title">{{profile.title}}</p>
	        <p v-else>Title not found</p>
	        <p v-if="profile.aboutMe">{{profile.about}}</p>
	        <p v-else>About Me not found</p>
		</div>
		<div v-else>
			No Profile Data found.
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		
		data:{
			
			profile:{
				fname: "Mahshad",
				lname: "Naghashan",
				title: "Front End Developer",
				aboutMe: "Hi, I'm Mahshad a web development student at Humber, I'm seeking for internships in front end positions.",
				image: "https://img.freepik.com/free-vector/young-woman-with-ponytail_24908-74979.jpg?w=740"

			}
			
		}
		
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>